<div x-data="historyVM()">
  <div data-include="/js/views/components/header.html"></div>
  <main>
    <h2>History</h2>
    <template x-if="items.length">
      <ul>
        <template x-for="(it,idx) in items" :key="idx">
          <li>
            <div x-text="it.title"></div>
            <pre x-text="it.payload"></pre>
            <button @click="remove(idx)">Delete</button>
          </li>
        </template>
      </ul>
    </template>
    <div x-show="!items.length">No history</div>
  </main>
  <div data-include="/js/views/components/footer.html"></div>
</div>