<div x-data="passwordGeneratorVM()">
  <div data-include="/js/views/components/header.html"></div>
  <main>
    <h2>Password Generator</h2>
    <label>Length: <input type="number" x-model.number="length" min="4" max="128" /></label>
    <label><input type="checkbox" x-model="includeSymbols" /> Symbols</label>
    <label><input type="checkbox" x-model="includeNumbers" /> Numbers</label>
    <label><input type="checkbox" x-model="excludeAmbiguous" /> Exclude ambiguous</label>
    <button @click="generate()">Generate</button>

    <div>
      <input x-model="password" readonly />
      <button @click="copy()">Copy</button>
      <span x-text="strength"></span>
    </div>
  </main>
  <div data-include="/js/views/components/footer.html"></div>
</div>